* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 18px;
    font-weight: 300;
    color: #cae1ee;
}
h1{
    font-size: 30px;
    font-weight: 500;
}
p{
    color:#c2c2c2;
    font-weight: 600;
    font-size: 12px;
}
#contact-us p{
    color: #d4d4d6;
    font-weight: 700;
}
#contact-us p span.bg-white{
    color:  #8b8b8b;
    font-weight: 700;
}
.bg-hero{
    background-color: #328bbb;
}
.bg-black {
    background-color: #3f3f3f;
}
.btn.btn-secondary{
    color: #3f3f3f;
    font-size: 13.5px;
    font-weight: 700;
}
.btn-success{
    background-color: #0acb63;
    color: #75e0a3;
    font-size: 13px;
    font-weight: 400;
    border: none;
}
.btn-success i{
    font-size: 15px;
    background-color: #0acb63;
    color:#75e0a3;
    border: none;
}
.fas.fa-tag{
    color: #0acb63;
}
.servises{
    color: #747474;
}
#hero .btn-secondary{
    font-size: 11px;
    font-weight: 400;
}
#footer i{
    font-size: 22px;
    color: #8b8b8b;
}
#footer .nav-link i.active{
    color: #80b8d5;
}
#footer span.bg-white{
    color: #cfcfd0;
    font-size: 11px;
    font-weight: 400;
}
#footer span.bg-white.active{
    color: #3f3f3f;
    font-weight: 700;
}